<!DOCTYPE html>
<html>
<head>
  <title><%= user.name %></title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
<h1 class="heading"><%= user.name %></h1>
<p class="job-title"><%= user.bio %></p>
<p>Вік: <%= (user.age !== undefined && user.age !== null) ? user.age : 'невідомо' %></p>

<div class="photo-container">
  <% if (user.photo) { %>
    <img class="profile-photo" src="<%= user.photo %>" alt="Photo of <%= user.name %>">
  <% } else { %>
    <div class="photo-placeholder">Фото відсутнє</div>
  <% } %>
</div>

<h2>Статті:</h2>
<ul class="content-list">
  <% articles.forEach(article => { %>
    <li class="list-item">
      <a href="/users/<%= user.id %>/articles/<%= article.id %>?from=user">
        <%= article.title %>
      </a>
    </li>
  <% }) %>
</ul>

<a class="link-back" href="/users">Назад до авторів</a>
</body>
</html>
